.super-container-blog {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
.blog-container {
    grid-column: 2;
}

.blog-paragraph {
    padding: 3% 0;
    font-size: var(--NormalBig);
    line-height: 1.6;
}

.blog-title {
    font-size: var(--Big);
    padding: 2% 0 0;
    font-family: var(--serif);
    color: var(--accent);
    font-weight: 500;
}

.blog-main-img {
    height: 25rem;
    padding: 2% 0;
    grid-column: 1/4;
    width: 80%;
    align-self: center;
    justify-self: center;
}

.blog-container p {
    margin: 1rem 0;
    line-height: 1.6;
    font-size: var(--NormalBig);
}
