.paginated-list-super {
	display: grid;
	grid-template-columns: 1fr 1.25fr 1fr;
}

.paginated-list-container {
	grid-column: 2;
}

.pagination-item-super {
	padding: 3% 0;
}

.pagination-item-container {
	padding: 5%;
	box-shadow: var(--box-shadow1);
	border-radius: var(--border-radius);
	background: var(--tertiary);
}
.pagination-item-name {
	font-size: var(--BigSmall);
	padding: 0 0 0.5rem;
	color: var(--quart);
}
.pagination-item-about-text {
	line-height: 24px;
	font-size: var(--NormalB);
}

.pagination-links-super {
	display: grid;
	align-items: center;
	justify-items: center;
	padding: 3%;
}

.pagination-link_invalid {
	color: var(--invalid);
	cursor: not-allowed;
	pointer-events: none;
}
.pagination-link,
.pagination-link_invalid {
	padding: 0 0.25rem;
	font-weight: 500;
}

.pagination-link {
	color: var(--primary);
}

.pagination-links-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	align-items: center;
	text-align: center;
}
