<!DOCTYPE html> 
<html lang="en"> 
<head> 
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1" /> 
    <link rel="stylesheet" href="../../css/blog.css">

  <title>{{title}}</title> 
  
</head> 
<body> 
  <header>
    this is a blog 
    <a href="/About">Abouxtx</a>
        <a href="/About">Pehdrox</a>
  </header> 
  <main> 
    {{ content | safe }}
  </main> 

  <footer>Site Footer</footer> 
</body>
<script src="../../dist/blog1.js"> 

</script> 
<script src="../../dist/stylos.4c86ac89.js"> 
</script
</html>