@media only screen and (max-width: 750px) {
	.landing-main-container {
		grid-template-columns: 1fr;
	}

	.landing-banner-text-super {
		padding: 0;
	}

	.landing-img {
		max-height: 300px;
	}

	.landing-banner-text,
	.landing-main-container .navbar,
	.articles-container,
	.landing-side-content-super,
	.landing-img-container {
		grid-column: 1;
	}
}
