/* @import url("https://fonts.googleapis.com/css2?family=Bitter:wght@500&display=swap");
 */
:root {
	--serif: "Bitter";

	--XXBig: 3.052rem;
	--XBig: 2.441rem;
	--Big: 1.953rem;
	--BigSmall: 1.563rem;
	--NormalBig: 1.25rem;
	--Normal: 1rem;
	--SmallBig: 0.8rem;
	--Small: 0.64rem;
	--XSmall: 0.512rem;

	--line-height1: 1.2;
	--border-radius: 5px;
	--box-shadow1: 5px 5px 10px #ebecee, 5px 5px 10px #f9fafc;

	--mobile: 600px;
}

.super-container {
	padding: 0 2rem;
	min-height: 100vh;
	transition: 0.165s ease-in;
	background: var(--background);
}

a {
	color: var(--primary);
}
a:visited {
	color: var(--visited-link);
}

.navbar {
	grid-column: 1/4;
	/* background: red; */
	display: flex;
	justify-content: space-around;
	padding: 1% 0;
}

.navbar-link {
	font-weight: 500;
}

.footer {
	display: flex;
	justify-content: space-evenly;
	padding: 2% 0;
	align-items: center;
}

.footer-link.change-color-footer-link {
	padding: 0.5rem 1.5rem;
	border-radius: var(--border-radius);
	background: var(--background);
	border: 2px solid var(--visited-link);
	color: var(--light-text);
	font-weight: 500;
}

.footer a {
	font-weight: 500;
}
h1 {
	/* font-size: var(--XBig); */
	font-size: var(--Big);
}
h2 {
	font-size: var(--Big);
}
h3 {
	font-size: var(--BigSmall);
}
h4 {
	font-size: var(--Normal);
}
h5 {
	font-size: var(--SmallBig);
}
h6 {
	font-size: var(--Small);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--text);
}
